@tailwind base;
@tailwind components;
@tailwind utilities;

.myimg{
  border-radius: 20% 20% 20% 20%;
  animation-name: photoanim;
  animation-duration: 6s;
  animation-delay: 0ms;
  animation-iteration-count: infinite;
}

@keyframes photoanim{
  0% {
    border-radius: 20% 20% 20% 20%;
  }
  33% {
    border-radius: 30% 15% 50% 0;
  }
 
  66% {
    border-radius: 0% 30% 15% 50%;
  }
 

}

.stackanimation{
  position: relative;
  top: 0;
  transition-property: top;
  transition-duration: 0.3s;
}

.stackanimation:hover {
  top: 10px;
}

.hbg {
  background-image: url("../../public/images/header.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pbg {
  background-image: url("../../public/images/bg.jpg");
}

.boxanimation {
  transition-property: background-color, border-radius;
  transition-duration: 1s;
}

.boxanimation:hover {
  background-color: #712020;
}

